@model IEnumerable<Zilla.Models.Team>

@{
    ViewBag.Title = "Teams";
    ViewBag.Message = "All teams";
}
<h1 class="pageHeading">
    <i class="fas fa-users" data-fa-transform="shrink-1 up-2 right-2" style="background:#EF9A9A"></i>
    <span>@ViewBag.Title.</span>
</h1>
<h2 class="pageSubheading">@ViewBag.Message
    <a class="btn btn-primary text-white float-right" href="@Url.Action("Create", "Teams")">
        <i class="fas fa-plus"></i> Create team
    </a>
    <a class="btn btn-primary text-white float-right mr-1" href="@Url.Action("Index", "Home")">
        <i class="fas fa-arrow-left"></i> Back
    </a>
</h2>
<div class="pageContent">
    <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "Teams", new { id = item.TeamId })">
                        @Html.DisplayFor(modelItem => item.Title)                    
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a class="iconAction text-primary" href="@Url.Action("Edit", "Teams", new { id = item.TeamId })"><i class="fas fa-edit"></i></a>
                    <a class="iconAction text-info" href="@Url.Action("Details", "Teams", new { id = item.TeamId })"><i class="fas fa-info"></i></a>
                    <a class="iconAction text-danger" href="@Url.Action("Delete", "Teams", new { id = item.TeamId })"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
