@model Zilla.Models.Comment

@{
    ViewBag.Title = "Comments";
    ViewBag.Message = ".";
}

<h1 class="pageHeading">
    <i class="fas fa-building" data-fa-transform="shrink-1 up-2 right-2" style="background:#EF9A9A"></i>
    <span>@ViewBag.Title.</span>
</h1>
<h2 class="pageSubheading">
    <span>@ViewBag.Message</span>
    <a class="btn btn-primary text-white float-right" href="@Url.Action("Create", "Comments")">
        <i class="fas fa-plus"></i> Create Comment
    </a>
    <a class="btn btn-primary text-white float-right mr-1" href="@Url.Action("Index", "Home")">
        <i class="fas fa-arrow-left"></i> Back
    </a>
</h2>
<div class="pageContent">
    <div>
        <h4>
            <i class="fas fa-info" data-fa-transform="shrink-1 up-2 right-2" style="background:#EF9A9A"></i>
            Details
        </h4>
        <dl class="dl-horizontal">
            <dt class="badge badge-primary">
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>

            <dt class="badge badge-primary">
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreationDate)
            </dd>

        </dl>
    </div>
</div>
