@model Zilla.Models.Comment

@{
    ViewBag.Title = "Comments";
    ViewBag.Message = ".";
}

<h1 class="pageHeading">
    <i class="fas fa-building" data-fa-transform="shrink-1 up-2 right-2" style="background:#EF9A9A"></i>
    <span>@ViewBag.Title.</span>
</h1>
<h2 class="pageSubheading">
    <span>@ViewBag.Message</span>
    <a class="btn btn-danger text-white float-right" href="@Url.Action("Delete", "Comments", new { id = Model.CommentId })">
        <i class="fas fa-trash-alt"></i> Delete
    </a>
    <a class="btn btn-primary float-right mr-1" href="@Url.Action("Edit", "Comments", new { id = Model.CommentId })">
        <i class="fas fa-edit"></i> Edit
    </a>
    <a class="btn btn-primary text-white float-right mr-1" href="@Url.Action("Details", "Assignments", new { id = Model.Assignment.AssignmentId })">
        <i class="fas fa-arrow-left"></i> Back
    </a>
</h2>
<div class="pageContent">
    <div>
        <h4>
            <i class="fas fa-info" data-fa-transform="shrink-1 up-2 right-2" style="background:#EF9A9A"></i>
            Details
        </h4>
        <dl class="dl-horizontal">
            <dt class="badge badge-primary">
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>

            <dt class="badge badge-primary">
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreationDate)
            </dd>

        </dl>
    </div>
</div>
