@model Zilla.Models.IndexViewModel

@{
    ViewBag.Title = "Manage";
    ViewBag.Message = "Change your account settings";
}

<h1 class="pageHeading">
    <i class="fas fa-user" data-fa-transform="shrink-1 up-2 right-2" style="background:#EF9A9A"></i>
    <span>@ViewBag.Title.</span>
</h1>
<h2 class="pageSubheading">
    <span>@ViewBag.Message</span>
    <a class="btn btn-primary text-white float-right mr-1" href="@Url.Action("Index", "Home")">
        <i class="fas fa-arrow-left"></i> Back
    </a>
</h2>
<div class="pageContent">
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Change avatar:</dt>
        <dd>
            [
            @Html.ActionLink("Change your avatar", "ChangeAvatar")
            ]
        </dd>
    </dl>
</div>
