@model Zilla.Models.DetailsAccountViewModel

@{
    ViewBag.Title = "Accounts";
    ViewBag.Message = Model.UserName;
}

<h1 class="pageHeading">
    <i class="fas fa-user-friends" data-fa-transform="shrink-1 up-2 right-2" style="background:#EF9A9A"></i>
    <span>@ViewBag.Title.</span>
</h1>
<h2 class="pageSubheading">
    <span>@ViewBag.Message</span>
    <a class="btn btn-danger text-white float-right" href="@Url.Action("Delete", "Accounts", new { id = Model.UserName })">
        <i class="fas fa-trash-alt"></i> Delete
    </a>
    <a class="btn btn-primary text-white float-right mr-1" href="@Url.Action("Edit", "Accounts", new { id = Model.UserName })">
        <i class="fas fa-edit"></i> Edit
    </a>
    <a class="btn btn-primary text-white float-right mr-1" href="@Url.Action("Index", "Accounts")">
        <i class="fas fa-arrow-left"></i> Back
    </a>
</h2>
<div class="pageContent">
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RolesList)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RolesList)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>
    </div>
</div>
