@model Zilla.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    ViewBag.Message = ".";
}
<h1 class="pageHeading">
    <i class="fas fa-user-plus" data-fa-transform="shrink-1 up-2 right-2" style="background:#EF9A9A"></i>
    <span>@ViewBag.Title.</span>
</h1>
<h2 class="pageSubheading">
    <span>@ViewBag.Message</span>
    <a class="btn btn-primary text-white float-right mr-1" href="@Url.Action("Index", "Home")">
        <i class="fas fa-arrow-left"></i> Back
    </a>
</h2>
<div class="pageContent">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            @using (Html.BeginForm("Register", "Accounts", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @placeholder = "Description" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 d-flex justify-content-center">
                        <input type="submit" class="btn btn-primary" value="Register" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Already an user?", "Login")
                </p>
            }

        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
