@model Zilla.Models.AddCommentViewModel

@{
    ViewBag.Title = "Assignment";
    ViewBag.Message = Model.Assignment.Title + " - Add comment";
}

<h1 class="pageHeading">
    <i class="fas fa-users" data-fa-transform="shrink-1 up-2 right-2" style="background:#EF9A9A"></i>
    <span>@ViewBag.Title.</span>
</h1>
<h2 class="pageSubheading">
    <span>@ViewBag.Message</span>
    <a class="btn btn-danger text-white float-right" href="@Url.Action("Delete", "Assignments", new { id = Model.Assignment.AssignmentId })">
        <i class="fas fa-trash-alt"></i> Delete
    </a>
    <a class="btn btn-primary text-white float-right mr-1" href="@Url.Action("Details", "Assignments", new { id = Model.Assignment.AssignmentId })">
        <i class="fas fa-info"></i> Details
    </a>
    <a class="btn btn-primary text-white float-right mr-1" href="@Url.Action("Edit", "Assignments", new { id = Model.Assignment.AssignmentId })">
        <i class="fas fa-edit"></i> Edit
    </a>
    <a class="btn btn-primary text-white float-right mr-1" href="@Url.Action("Index", "Assignments")">
        <i class="fas fa-arrow-left"></i> Back
    </a>
</h2>
<div class="pageContent">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Comment.Content, new { @class = "form-control", @rows = "3", @placeholder = "Comment" })
                            @Html.ValidationMessageFor(model => model.Comment.Content, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10 d-flex justify-content-center">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
