@model Zilla.Models.AddAssignmentViewModel

@{
    ViewBag.Title = "Project";
    ViewBag.Message = Model.Project.Title + " - Add assignment";
}

<h1 class="pageHeading">
    <i class="fas fa-city" data-fa-transform="shrink-1 up-2 right-2" style="background:#EF9A9A"></i>
    <span>@ViewBag.Title.</span>
</h1>
<h2 class="pageSubheading">
    <span>@ViewBag.Message</span>
    <a class="btn btn-danger text-white float-right" href="@Url.Action("Delete", "Projects", new { id = Model.Project.ProjectId })">
        <i class="fas fa-trash-alt"></i> Delete
    </a>
    <a class="btn btn-primary text-white float-right mr-1" href="@Url.Action("Details", "Projects", new { id = Model.Project.ProjectId })">
        <i class="fas fa-info"></i> Details
    </a>
    <a class="btn btn-primary text-white float-right mr-1" href="@Url.Action("Edit", "Projects", new { id = Model.Project.ProjectId })">
        <i class="fas fa-edit"></i> Edit
    </a>
    <a class="btn btn-primary text-white float-right mr-1" href="@Url.Action("Index", "Projects")">
        <i class="fas fa-arrow-left"></i> Back
    </a>
</h2>
<div class="pageContent">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            @using (Html.BeginForm( new { @class="form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">   
                            @Html.DropDownListFor(
                                model => model.Asignee,
                                Model.Members,
                                "Select user",
                                new
                                     {
                                    @class = "selectpicker col-md-10",
                                    data_style = "btn-primary",
                                    data_size = "5",
                                    data_live_search = "true",
                                    data_actions_box = "true",
                                    data_selected_text_format = "count > 3"
                                }
                            )
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Assignment.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Title" } })
                            @Html.ValidationMessageFor(model => model.Assignment.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Assignment.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Description" } })
                            @Html.ValidationMessageFor(model => model.Assignment.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EnumDropDownListFor(model => model.Assignment.Status, htmlAttributes: new { @class = "form-control", @placeholder = "Status" })
                            @Html.ValidationMessageFor(model => model.Assignment.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Assignment.StartDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Start Date", @type = "datetime-local" } })
                            @Html.ValidationMessageFor(model => model.Assignment.StartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Assignment.EndDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "End Date", @type = "datetime-local" } })
                            @Html.ValidationMessageFor(model => model.Assignment.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10 d-flex justify-content-center">
                            <input type="submit" value="Add assignment" class="btn btn-primary" />
                        </div>
                    </div>
            }
        </div>
    </div>
</div>
