@model IEnumerable<Zilla.Models.Project>

@{
    ViewBag.Title = "Projects";
    ViewBag.Message = "All Projects";
}
<h1 class="pageHeading">
    <i class="fas fa-users" data-fa-transform="shrink-1 up-2 right-2" style="background:#EF9A9A"></i>
    <span>@ViewBag.Title.</span>
</h1>
<h2 class="pageSubheading">
    <span>@ViewBag.Message</span>
    <a class="btn btn-primary text-white float-right" href="@Url.Action("Create", "Projects")">
        <i class="fas fa-plus"></i> Create Project
    </a>
    <a class="btn btn-primary text-white float-right mr-1" href="@Url.Action("Index", "Home")">
        <i class="fas fa-arrow-left"></i> Back
    </a>
</h2>
<div class="pageContent">
    <table class="table table-bordered table-sm table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="w-50">
                    <a href="@Url.Action("Details", "Projects", new { id = item.ProjectId })">
                        @Html.DisplayFor(modelItem => item.Title)                    
                    </a>
                </td>
                <td class="w-50">
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                </td>
                <td>
                    <a class="iconAction text-primary" href="@Url.Action("Edit", "Projects", new { id = item.ProjectId })"><i class="fas fa-edit"></i></a>
                    <a class="iconAction text-info" href="@Url.Action("Details", "Projects", new { id = item.ProjectId })"><i class="fas fa-info"></i></a>
                    <a class="iconAction text-danger" href="@Url.Action("Delete", "Projects", new { id = item.ProjectId })"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
